@import "./../scss/var";

.field {
  position: relative;
  flex: 0 1 328px;
  margin-bottom: 40px;
  &:nth-child(odd) {
    margin-right: 24px;
  }
  &_text::after {
    content: "Please specify the first name";
    position: absolute;
    bottom: -19px;
    left: 17px;
    color: $text;
    font-size: 12px;
    width: 312px;
    height: 16px;
  }
}
.input {
  box-sizing: border-box;
  width: 328px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.32);
  padding: 16px;
  border-radius: 4px;
  position: relative;
  &:focus {
    outline: 2px solid $active;
    border: none;
    & ~ span::before {
      content: attr(title);
      position: absolute;
      top: -7px;
      left: 12px;
      color: $active;
      background-color: #fff;
      font-size: 12px;
      letter-spacing: 0.4px;
      width: 67px;
      padding-left: 5px;
      height: 16px;
    }
    & ~ span::after {
      content: "Assistive text";
      position: absolute;
      bottom: -19px;
      left: 0;
      right: 0;
      color: $active;
      padding-left: 17px;
      font-size: 12px;
      width: 312px;
      height: 16px;
      background-color: #fff;
      z-index: 10;
    }
  }
}

@media (max-width: 1640px) {
  .field:nth-child(5) {
    margin-bottom: 24px;
  }
  .input {
    width: 300px;
  }
}

@media (max-width: 395px) {
  .field {
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .input {
    width: 100%;
    font-size: 14px;
  }
  .field:nth-child(odd) {
    margin-right: 0;
  }
}
