@import "./var";
h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}
h3 {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.05px;
  color: $text-nav;
  margin: 0;
}

.h3-desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: $text;
  margin-left: 16px;
}

.main-block {
  @include box-shadow;
  &__title {
    border-bottom: 1px solid $hr;
    padding: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__fields {
    border-bottom: 1px solid $hr;
  }
  &__buttons {
    padding: 24px;
  }
}

.save {
  background: rgba(98, 2, 238, 0.0001);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: $active;
  padding: 16px 12px;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background-color: $active;
    color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  }
  &_wide {
    padding: 16px 35px;
  }
}
