@import "./../../../scss/var";

.burger {
  position: absolute;
  z-index: 6;
  right: 24px;
  top: 21px;
  width: 30px;
  height: 24px;
  display: none;
  transition: all 0.3s;

  &__line {
    height: 2px;
    width: 30px;
    margin-bottom: 6px;
    background-color: $text-nav;
    position: relative;
    transition: all 0.3s;
  }

  &_active {
    .burger__line:nth-child(2) {
      transform: scale(0);
    }
    .burger__line:nth-child(1) {
      transform: rotate(45deg);
      top: 10px;
      left: 0;
    }
    .burger__line:nth-child(3) {
      top: -5px;
      left: 0;
      transform: rotate(-45deg);
    }
  }
}
@media (max-width: 715px) {
  .burger {
    display: block;
  }
}

@media (max-width: 620px) {
  .burger {
    top: 16px;
  }
}
