@import "../var";
.menu {
  padding: 20px 0 0 40px;
  border-bottom: 1px solid $hr;
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
  }
  &__item {
    margin-right: 40px;
  }
  &__link {
    text-decoration: none;
    color: $text-nav;
    font-weight: 500;
    display: inline-block;
    height: 35px;
    padding: 0 5px;
    border-bottom: 3px solid transparent;
    &:hover,
    &_active {
      border-bottom: 3px solid $active;
    }
  }
}
