@import "./../../scss/var";

.menu {
  padding: 20px 20px 0 40px;
  border-bottom: 1px solid $hr;
  position: relative;
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
  }
  &__item {
    margin-right: 40px;
  }
  &__link {
    text-decoration: none;
    color: $text-nav;
    font-weight: 500;
    font-size: 1rem;
    display: inline-block;
    height: 35px;
    padding: 0 5px;
    border-bottom: 3px solid transparent;
    &:hover,
    &_active {
      border-bottom: 3px solid $active;
    }
  }
}
.menu-burger {
  position: absolute;
  z-index: 6;
  right: 24px;
  top: 28px;
  width: 30px;
  display: none;
  transition: all 0.3s;

  &__line {
    height: 2px;
    width: 30px;
    background-color: $text-nav;
    position: relative;
    transition: all 0.3s;
  }
  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    height: 2px;
    width: 30px;
    background-color: $text-nav;
    transition: all 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 30px;
    background-color: $text-nav;
    transition: all 0.3s;
  }

  &_active {
    .menu-burger__line {
      transform: scale(0);
    }
    &::before {
      transform: rotate(45deg);
      top: 0;
    }
    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
@media (max-width: 715px) {
  .menu-burger {
    display: block;
  }
}
@media (max-width: 620px) {
  .menu {
    padding: 16px 0 0 16px;
  }
  .menu__link {
    font-size: 14px;
    height: 25px;
  }
  .menu__item {
    margin-right: 30px;
  }
  .menu-burger {
    top: 24px;
  }
}
@media (max-width: 350px) {
  .menu__item {
    margin-right: 22px;
  }
}
@media (max-width: 320px) {
  .menu__item {
    margin-right: 16px;
  }
}
